<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Login</title> 
</head> 
<body> 
    <h2>Введите логин и пароль</h2> 
    <form th:action="@{/login}" method="post" onsubmit="return handleLogin()"> 
        <label for="username">Логин:</label> 
        <input type="text" id="username" name="username" required><br><br> 
        <label for="password">Пароль:</label> 
        <input type="password" id="password" name="password" required><br><br> 
        <button type="submit">Login</button> 
    </form> 

    <script>
        function handleLogin() {
            window.location.href = "./uploadForm.html";
            return false;
        }
    </script>
</body> 
</html>

